{% extends "layout.html.jinja2" %}
{% set page_title = "Editor" %}

{% block body %}
<h2>Editor</h2>

<div class="container">
  <div class="text-right">
    <button type="button" class="btn btn-primary" id="uploadBtn">Upload code</button>
  </div>
    <div class="alert alert-success alert-dismissible" id="successAlert">
        <strong>Success!</strong> Code has been uploaded.
    </div>
    <div class="alert alert-danger alert-dismissible" id="errorAlert">
        <strong>Error!</strong>
    </div>
</div>


<div class="form-group">
  
    <textarea class="form-control my-5" rows="30" id="templateInput">{{code}}</textarea>
    
</div>



<link rel="stylesheet" href="{{ url_for("static", filename="css/codemirror.css") }}">
<script src="{{ url_for("static", filename="js/codemirror.js") }}"></script>
<script src="{{ url_for("static", filename="js/clike.js") }}"></script>
<script>
  let myTextarea = $("#templateInput")[0];
  var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    matchBrackets: true,
    mode: "text/x-c++src"
  });
  editor.setSize(1000, 500);
</script>

{% endblock %}