{% extends "layout.html.jinja2" %}
{% set page_title = "Temperature" %}

{% block body %}

<h2>Temperature</h2>
<br/><br/>


<div class="row">
    <div class="col-6">
    </div>
    <div class="col-3">
        <div class="form-group">
            <select class="form-control" id="sensorList">
                {% for sensor in sensors %}
                    <option>{{ sensor }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <select class="form-control" id="cardList">
                {% for card in cards %}
                    <option>{{ card }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<br><br>
<p class="h1 text-center"><span id="temp">-</span> °C</p>


{% endblock %}